<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694421567950-mlk4vqi1ib20rv4355i9td4di06hfca7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694421567950-mlk4vqi1ib20rv4355i9td4di06hfca7</string>
	<key>API_KEY</key>
	<string>AIzaSyDp38AJlyjRmVJg6th4a-9g80LXHkrpxM4</string>
	<key>GCM_SENDER_ID</key>
	<string>694421567950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.bismillah.myocr</string>
	<key>PROJECT_ID</key>
	<string>myktp-ti3h</string>
	<key>STORAGE_BUCKET</key>
	<string>myktp-ti3h.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694421567950:ios:1d06579b6c036f6226d39f</string>
</dict>
</plist>